h2.popular {
  text-align: center;
  padding-top: 4%;
  font-family: Poppins, sans-serif;
  font-size: 1.8rem;
}

.BusinessList {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 4.4rem 10%;
  }